<div class="card">
    <div data-th-include="transet/tranDef/tran_add"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" /> <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="tran:add,tran:delete,tran:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#tran-add" shiro:hasPermission="tran:add">新增交易码</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateTran()" shiro:hasPermission="tran:update">修改交易码</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteTran()" shiro:hasPermission="tran:delete">删除交易码</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="tran-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 业务号： </span>
                                    <div class="form-group">
                                        <input type="text" name="busiNo" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 交易码： </span>
                                    <div class="form-group">
                                        <input type="text" name="tranCode" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 交易码中文名： </span>
                                    <div class="form-group">
                                        <input type="text" name="chnName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <table id="tranTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>

</div>

<script data-th-src="@{js/app/transet/tranDef/tran.js}"></script>